In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../../../um/base_processed.dta', delim_whitespace=True, header=None, 
                 names=['user', 'movie', 'time', 'rating'])

df2 = pd.read_csv('../../../um/base_all.dta', delim_whitespace=True, header=None, 
                 names=['user', 'movie', 'time', 'rating'])

In [4]:
movie_ratings = df.groupby('movie').size()
user_ratings = df.groupby('user').size()

# get the top_q
Q = 500
top_q = (user_ratings.sort_values()[-500:])[::-1]

In [6]:
movie_ratings2 = df2.groupby('movie').size()
user_ratings2 = df2.groupby('user').size()

In [17]:
a = df[df['user']==74145]

In [18]:
a[a['movie']==13833]

           user  movie  time   rating
15259810  74145  13833  1855  1.45396

In [22]:
df[df['user']==2]

     user  movie  time    rating
251     2     68  1470  1.044370
252     2    191  1827 -2.018780
253     2    212  1721 -0.940521
254     2    230  2098  1.524910
255     2    292  1519  0.015987
256     2    366  2127  0.010209
257     2    416  1848  1.332110
258     2    441  2030  0.144104
259     2    490  2038 -0.537536
260     2    564  1644 -1.432490
261     2    582  1738 -1.874720
262     2    602  2098  1.010110
263     2    622  1695  0.209844
264     2    763  1932  0.146739
265     2    787  1946  1.824410
266     2    817  2127  0.287180
267     2    841  1485  0.657936
268     2    849  1661  0.051025
269     2    889  1636  0.564748
270     2    892  1714  1.150320
271     2   1011  1444  0.308934
272     2   1131  2092  0.757684
273     2   1249  1933  1.294420
274     2   1302  2098  1.576060
275     2   1365  2098  1.326410
276     2   1391  1881  0.379068
277     2   1394  2022 -1.065310
278     2   1410  1839 -1.619470
279     2   1414  2163  1.482180
280     2   1498  2084  0.870833
..    ...    ...   ...       ...
502     2  15796  1444  0.953815
503     2  15809  1819 -0.291289
504     2  15866  2127  0.534290
505     2  15968  2098  1.477540
506     2  16126  1548 -0.959370
507     2  16210  1615 -1.293580
508     2  16301  1575 -0.335504
509     2  16316  1615  0.641939
510     2  16447  1602 -0.697730
511     2  16464  1566  0.317815
512     2  16516  1819 -1.897320
513     2  16551  1891  0.732631
514     2  16626  1395  0.522589
515     2  16661  1702 -0.731626
516     2  16698  2140  0.650061
517     2  16725  1595 -1.149050
518     2  17013  1974  0.036937
519     2  17288  1395  0.118033
520     2  17303  1681  1.428450
521     2  17328  2072 -0.597523
522     2  17365  2115  1.077620
523     2  17414  1804  0.038514
524     2  17498  2098  1.634270
525     2  17519  1841  0.214638
526     2  17555  1062  0.445389
527     2  17574  1841  1.472520
528     2  17660  1658  0.633277
529     2  17741  1636 -0.308714
530     2  17743  1841 -0.387422
531     2  17754  2163  0.872422

[281 rows x 4 columns]

In [ ]:
def calc_pearson(user1, user2, user1_movies, user2_movies):
    


double calc_pearson(int user1, int user2, vector<double> *user1_movies, vector<double> *user2_movies) {
    //1. find movies in common btw user1 and user2
    vector<double> user1_ratings;
    vector<double> user2_ratings;

    int it1 = 0;
    int it2 = 0;

    while ((it1 < (int)(*user1_movies).size()-1) && (it2 < (int)(*user2_movies).size()-1))
    {
        // case 1: common movie
        if (user1_movies[it1] == user2_movies[it2]) {
            user1_ratings.push_back((*user1_movies)[it1+1]);
            user2_ratings.push_back((*user2_movies)[it2+1]);
            it1+=2;
            it2+=2;
        }

        //case 2: it1 > it2. so move it2 forward
        else if (user1_movies[it1] > user2_movies[it2])
            it2+=2;

        //case 3: it1 < it2, so move it1 forward
        else
            it1+=2;

    }

    // 2. calculate covariance, variance of movie ratings
    double pearson;
    // no movies in common
    if (user1_ratings.size() == 0)
        return 0; 

    //otherwise compute pearson coefficient
    double user1_avg = (accumulate(user1_ratings.begin(), user1_ratings.end(), 0.0)) / user1_ratings.size();
    double user2_avg = (accumulate(user2_ratings.begin(), user2_ratings.end(), 0.0)) / user2_ratings.size();
    double cov = 0.0;
    double user1_var = 0.0;
    double user2_var = 0.0;

    for (int i = 0; i < (int)user1_ratings.size(); i++) {
        cov += (user1_ratings[i] - user1_avg) * (user2_ratings[i] - user2_avg);
        user1_var += pow(user1_ratings[i] - user1_avg, 2);
        user2_var += pow(user2_ratings[i] - user2_avg, 2);
    }

    // 3. compute pearson
    // if no variation in user1 or user2 ratings, then pearson is 0 bc no correlation evident
    if (user1_var==0 || user2_var ==0)
        return 0;

    pearson = cov / (sqrt(user1_var * user2_var));

    return pearson;
}