In [28]:
import pandas as pd
import numpy as np

In [60]:
#df = pd.read_csv('../../../um/base_processed.dta', delim_whitespace=True, header=None, 
#                 names=['user', 'movie', 'time', 'rating'])

df2 = pd.read_csv('../../../um/base_all.dta', delim_whitespace=True, header=None, 
                 names=['user', 'movie', 'time', 'rating'])

In [48]:
movie_ratings = df.groupby('movie').size()
user_ratings = df.groupby('user').size()

# get the top_q
Q = 500
top_q = (user_ratings.sort_values()[-500:])[::-1]

In [59]:
df[df['user']==1]

     user  movie  time    rating
0       1     79  1123 -1.654160
1       1    144  1349 -1.706240
2       1    149  1206  0.381932
3       1    191  1845  0.474327
4       1    211   918  0.638407
5       1    463  1145 -1.125330
6       1    614   918 -1.915000
7       1    701  1349  0.272177
8       1    849  2056  0.987426
9       1    870  2056  0.194134
10      1    889  1587  1.373010
11      1    892   918 -1.308820
12      1    979   939  0.862525
13      1   1006  2056  0.888248
14      1   1103  1349  0.453810
15      1   1333  1105 -0.251409
16      1   1381  1123  1.130950
17      1   1394   918  0.149529
18      1   1432  2056  0.148852
19      1   1529  2056 -0.001132
20      1   1632  2056 -0.127373
21      1   1927  1106  0.381685
22      1   1942  1349  0.412767
23      1   1983  2235  1.041750
24      1   2189  1469  0.947175
25      1   2193  1136 -0.107371
26      1   2299  1539  0.753236
27      1   2300  2056  0.364761
28      1   2349  1106  0.968534
29      1   2378   918  1.007120
..    ...    ...   ...       ...
221     1  15571  1261  0.461982
222     1  15619   918  1.071680
223     1  15676  1587  0.934250
224     1  15762   934  0.080282
225     1  15796  1106  1.665040
226     1  15809  2056  0.730493
227     1  15928  2056  0.238136
228     1  15972  1349  0.825682
229     1  15973  1349  0.509692
230     1  16027  1349 -0.386791
231     1  16121   940 -1.075490
232     1  16229   918 -0.310870
233     1  16262  1108 -1.141770
234     1  16464  2056  0.147224
235     1  16482  2056 -0.307189
236     1  16569  1349 -0.331746
237     1  16786   918 -0.177425
238     1  16973   918 -0.448549
239     1  17012   959  1.302140
240     1  17063   918 -2.009850
241     1  17164  2056  0.948795
242     1  17200   918 -0.533068
243     1  17238  1539  1.395100
244     1  17288  1539 -0.002728
245     1  17314  1883 -3.561640
246     1  17319  2148 -0.464356
247     1  17558  1845 -0.019483
248     1  17572   947  0.583021
249     1  17628  1349  0.623124
250     1  17741  1845  0.717414

[251 rows x 4 columns]

In [ ]:
def calc_pearson(user1, user2, user1_movies, user2_movies):
    


double calc_pearson(int user1, int user2, vector<double> *user1_movies, vector<double> *user2_movies) {
    //1. find movies in common btw user1 and user2
    vector<double> user1_ratings;
    vector<double> user2_ratings;

    int it1 = 0;
    int it2 = 0;

    while ((it1 < (int)(*user1_movies).size()-1) && (it2 < (int)(*user2_movies).size()-1))
    {
        // case 1: common movie
        if (user1_movies[it1] == user2_movies[it2]) {
            user1_ratings.push_back((*user1_movies)[it1+1]);
            user2_ratings.push_back((*user2_movies)[it2+1]);
            it1+=2;
            it2+=2;
        }

        //case 2: it1 > it2. so move it2 forward
        else if (user1_movies[it1] > user2_movies[it2])
            it2+=2;

        //case 3: it1 < it2, so move it1 forward
        else
            it1+=2;

    }

    // 2. calculate covariance, variance of movie ratings
    double pearson;
    // no movies in common
    if (user1_ratings.size() == 0)
        return 0; 

    //otherwise compute pearson coefficient
    double user1_avg = (accumulate(user1_ratings.begin(), user1_ratings.end(), 0.0)) / user1_ratings.size();
    double user2_avg = (accumulate(user2_ratings.begin(), user2_ratings.end(), 0.0)) / user2_ratings.size();
    double cov = 0.0;
    double user1_var = 0.0;
    double user2_var = 0.0;

    for (int i = 0; i < (int)user1_ratings.size(); i++) {
        cov += (user1_ratings[i] - user1_avg) * (user2_ratings[i] - user2_avg);
        user1_var += pow(user1_ratings[i] - user1_avg, 2);
        user2_var += pow(user2_ratings[i] - user2_avg, 2);
    }

    // 3. compute pearson
    // if no variation in user1 or user2 ratings, then pearson is 0 bc no correlation evident
    if (user1_var==0 || user2_var ==0)
        return 0;

    pearson = cov / (sqrt(user1_var * user2_var));

    return pearson;
}